a.out

# cmake cache
build/
CMakeFiles/
catalanpro
CMakeCache.txt
cmake_install.cmake
Makefile

# PEDA/gdb
peda-session-*
.gdb_history

# Emacs
.projectile
.dir-locals.el
.#*
*~

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# VSCode
.vscode/*
